.headerAlign {
  padding-top: 10px;
  display: block;
  text-align: center !important;
}

.goLeft {
  margin-top: 10px;
  float: left;
}

a {
  color: white;
}

h1 {
  color: white;
  font-weight: bold;
}
